<div class="col-md-3 col-md-offset-3">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <div class="input-group field">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: t(:enter_email) %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
      </div>

      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <div class="input-group field">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t(:enter_password) %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
      </div>

      <%= f.label :password_confirmation %><br />
      <div class="input-group field">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: t(:enter_password_confirmation) %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
      </div>
      <br/>
      <div class="actions">
        <%= f.submit t(:register), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

