<div class="col-sm-8 col-md-9" style="border: 1px solid red">
  <h1><%= @book.title %></h1>
  <%= image_tag @book.image.thumb.url, class: "img-thumbnail img-responsive pull-left", size: "200x300" %>
  <div class="col-sm-7 col-md-8" style="border: 1px solid red">
    <span class="lead text-danger pull-left" style="font-size: 24px">
      <strong>$<%= @book.price %></strong>
    </span>
    <div class="pull-right">
      <% if @book.in_stock? %>
        <%= form_for @order_item, html: {class: "form-inline" } do |f| %>
          <%= f.number_field :quantity, {value: 1, min: 1, max: @book.in_stock, class: "form-control"} %>
          <%= f.hidden_field :book_id, :value => @book.id %>
          <%= f.hidden_field :price, :value => @book.price %>
          <%= f.submit t("books.add_to_card"), class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <span class="book alert-danger"><%= t("books.out_in_stock") %></span>
      <% end %>
      <br/>
      <%= button_to t("books.add_to_wishlist"), "#", class: "btn btn-default btn-xs pull-right margin-bottom" %>
    </div>
  </div>
  <p class="col-sm-7 col-md-8"><%= @book.description %></p>
  <div class="clearfix"></div>
  <% if user_signed_in? %>
    <div class="col-sm-9 col-md-10 col-lg-offset-1">
      <%= form_for @book.ratings.build do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.label :rate, t("books.rating") %>
        <%= f.number_field :rate, {value: 1, min: 1, max: 10, class: "form-control"} %>
        <%= f.label :review, t("books.text_review") %>
        <%= f.text_area :review, class: "form-control" %><br/>
        <%= f.submit t("books.add_rating"), class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>
<%= render partial: 'shared/categories', locals: {categories: @categories} %>

