.col-sm-12.col-md-10.col-md-offset-1
  .panel.with-nav-tabs.panel-info
    .panel-heading
      .panel-title
        .row
          .col-xs-2
            %h4
              %b
                = @order.number
    .panel-body
      .col-xs-12
        %address.col-xs-3
          %h4
            %b Billing Address
            = link_to "(edit)", fill_in_address_checkout_path
          = current_or_guest_user.full_name
          %br
          = @billing_address.address
          %br
          = @billing_address.city
          = @billing_address.zipcode
          %br
          = @billing_address.country.name
          %br
          Phone
          %abbr{title: "Phone"}= @billing_address.phone
        %address.col-xs-3
          %h4
            %b Shipping Address
            = link_to "(edit)", fill_in_address_checkout_path
          = current_or_guest_user.full_name
          %br
          = @shipping_address.address
          %br
          = @shipping_address.city
          = @shipping_address.zipcode
          %br
          = @shipping_address.country.name
          %br
          Phone
          %abbr{title: "Phone"}= @shipping_address.phone
        .col-xs-3
          %h4
            %b Shipments
            = link_to "(edit)", fill_in_delivery_checkout_path
          = @order.delivery.name
        .col-xs-3
          %h4
            %b Payments Information
            = link_to "(edit)", fill_in_payment_checkout_path
          %br
          = current_or_guest_user.credit_card.number
          %br
          #{current_or_guest_user.credit_card.exp_month}/#{current_or_guest_user.credit_card.exp_year}
      .col-xs-12
        %table.table.table-hover
          %thead
            %tr
              %th
                = t("current_order.book")
              %th
                = t("current_order.quantity")
              %th.text-center
                = t("current_order.price")
              %th.text-center
                = t("current_order.total")
              %th
          %tbody
            - @order.order_items.each do |order_item|
              %tr
                %td.col-sm-9.col-md-8
                  .media
                    = image_tag order_item.book.image.thumb.url, class: "media-object thumbnail pull-left", size: "90x120"
                    .media-body
                      %h4.media-heading= link_to order_item.book.title, book_path(order_item.book)
                      %p= order_item.book.description.truncate(200, separator: ' ')
                %td.col-sm-1.col-md-1{:style => "text-align: center"}
                  = order_item.quantity
                %td.col-sm-2.col-md-2.text-center
                  %strong
                    $#{order_item.book.price}
                %td.col-sm-2.col-md-2.text-center
                  %strong
                    $#{order_item.total_price}
            %tr
              %td
              %td
              %td.text-center
                %h4= t("current_order.subtotal")
              %td
                %h4
                  %strong $#{@order.real_price}
            %tr
              %td
              %td
              %td.text-center
                %h4 Shipping:
              %td
                %h4
                  %strong
                    $#{@order.delivery.price}
            %tr
              %td
              %td
              %td.text-center
                %h4 Order total:
              %td
                %h4
                  %strong
                    $#{@order.price_with_delivery}

