.col-sm-12.col-md-10.col-md-offset-1
  .panel.with-nav-tabs.panel-info
    .panel-heading
      .panel-title
        .row
          .col-xs-3
            %h4
              %b
                Order #{@order.number}
          .col-xs-6
            = link_to t("current_order.back_to_store"), root_path, class: "btn btn-primary btn-block"
    .panel-body
      .col-xs-12
        %address.col-xs-3
          %h4
            %b Billing Address
          = current_or_guest_user.full_name
          %br
          = @billing_address.address
          %br
          = @billing_address.city
          = @billing_address.zipcode
          %br
          = @billing_address.country.name
          %br
          Phone
          %abbr{title: "Phone"}= @billing_address.phone
        %address.col-xs-3
          %h4
            %b Shipping Address
          = current_or_guest_user.full_name
          %br
          = @shipping_address.address
          %br
          = @shipping_address.city
          = @shipping_address.zipcode
          %br
          = @shipping_address.country.name
          %br
          Phone
          %abbr{title: "Phone"}= @shipping_address.phone
        .col-xs-3
          %h4
            %b Shipments
          = @order.delivery.name
        .col-xs-3
          %h4
            %b Payments Information
          = current_or_guest_user.credit_card.number
          %br
          #{current_or_guest_user.credit_card.exp_month}/#{current_or_guest_user.credit_card.exp_year}
      .col-xs-12
        %table.table.table-hover
          %thead
            %tr
              %th
                = t("current_order.book")
              %th
                = t("current_order.quantity")
              %th.text-center
                = t("current_order.price")
              %th.text-center
                = t("current_order.total")
              %th
          %tbody
            - @order.order_items.each do |order_item|
              = render partial: 'shared/order_item_list', locals: {order_item: order_item}
            = render partial: 'shared/order_price', locals: {order: @order}



