.col-sm-12.col-md-10.col-md-offset-1
  .panel.with-nav-tabs.panel-info
    .panel-heading
      .panel-title
        .row
          .col-xs-2
            %h4
              %b
                = t("current_order.checkout")
          %ul.nav.nav-tabs
            %li= link_to "Address", fill_in_address_checkout_path
            %li= link_to "Delivery", fill_in_delivery_checkout_path
            %li= link_to "Payment", fill_in_payment_checkout_path
            %li.active= link_to "Confirm", confirm_checkout_path
            %li.disabled= link_to "Complete", "#"
    .panel-body
      .col-xs-4.col-md-offset-1.pull-right
        %u
          %h3 Order Summary
        %b Item total:
        $#{@current_order.real_price}
        %br
        %b Order total:
        $#{@current_order.real_price}
      = form_for @current_order do |f|
        = f.hidden_field :credit_card_id, value: current_user.credit_card.id
        .col-xs-4
          %u
            %h3 Confirm:
          %br
          = f.button "Save and Continue", :name => "checkout", value: "delivery", class: "btn btn-primary"
