.col-sm-12.col-md-10.col-md-offset-1
  .panel.with-nav-tabs.panel-info
    .panel-heading
      .panel-title
        .row
          .col-xs-2
            %h4
              %b
                = t("current_order.checkout")
          %ul.nav.nav-tabs
            %li= link_to "Address", address_checkout_path
            %li= link_to "Delivery", delivery_checkout_path
            %li= link_to "Payment", payment_checkout_path
            %li.active= link_to "Confirm", confirm_checkout_path
            %li.disabled= link_to "Complete", "#"
    .panel-body
      = form_for @current_order, url: orders_path, method: :put do |f|
        = f.hidden_field :change_state, value: "in_queue"
        .col-xs-12
          %u
            %h3 Confirm:
            %br
          %address.col-xs-3
            %h4
              %b Billing Address
              = link_to "(edit)", address_checkout_path
            = current_or_guest_user.full_name
            %br
            = @billing_address.address
            %br
            = @billing_address.city
            = @billing_address.zipcode
            %br
            = @billing_address.country.name
            %br
            Phone
            %abbr{title: "Phone"}= @billing_address.phone
          %address.col-xs-3
            %h4
              %b Shipping Address
              = link_to "(edit)", address_checkout_path
            = current_or_guest_user.full_name
            %br
            = @shipping_address.address
            %br
            = @shipping_address.city
            = @shipping_address.zipcode
            %br
            = @shipping_address.country.name
            %br
            Phone
            %abbr{title: "Phone"}= @shipping_address.phone
          .col-xs-3
            %h4
              %b Shipments
              = link_to "(edit)", delivery_checkout_path
            = @current_order.delivery.name
          .col-xs-3
            %h4
              %b Payments Information
              = link_to "(edit)", payment_checkout_path
            %br
            = current_or_guest_user.credit_card.number
            %br
            #{current_or_guest_user.credit_card.exp_month}/#{current_or_guest_user.credit_card.exp_year}
        .col-xs-12
          %table.table.table-hover
            %thead
              %tr
                %th
                  = t("current_order.book")
                %th
                  = t("current_order.quantity")
                %th.text-center
                  = t("current_order.price")
                %th.text-center
                  = t("current_order.total")
                %th
            %tbody
              - @current_order.order_items.each do |order_item|
                = render partial: 'shared/order_item_list', locals: {order_item: order_item}
              = render partial: 'shared/order_price', locals: {order: @current_order}
        .col-xs-3
          = f.button "Plce order", :name => "change_state", value: "in_queue", class: "btn btn-primary"
