!!!
%html
  %head
    %title BookStore
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand The Book store
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "#"} HOME
            %li{:class => active_class(root_path)}
              = link_to t("header.shop"), root_path
          %ul.nav.navbar-nav.navbar-right
            %li{:class => active_class(shopping_cart_path(current_or_guest_user.current_order_in_progress))}
              = link_to shopping_cart_path(current_or_guest_user.current_order_in_progress) do
                %span.glyphicon.glyphicon-shopping-cart
                = t("header.cart")
                ($#{current_or_guest_user.current_order_in_progress.real_price})
            - if user_signed_in?
              %li= link_to t("settings.admin_panel"), rails_admin_path if current_user.admin?
              %li{:class => active_class(edit_user_registration_path(current_user))}
                = link_to t("settings.settings"), edit_user_registration_path(current_user)
              %li{:class => active_class("#")}
                = link_to t(:orders), '#'
              %li= link_to t("sessions.log_out"), destroy_user_session_path, :method => :delete
            - else
              %li{:class => active_class(new_user_session_path)}
                = link_to t("sessions.log_in"), new_user_session_path
              %li{:class => active_class(new_user_registration_path)}
                = link_to t("settings.register"), new_user_registration_path
    .container-fluid
      .row
        .col-md-4.col-md-offset-3
          = render partial: "shared/flash_messages", flash: flash
        .col-md-12#main_content
          = yield
